@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Poppins';

}

html {
    font-size: 100%;
} 

.btn{
    cursor: pointer;
    color: white;
    background: #F2984C;
    box-shadow: 0px 3px 21px 5px rgba(243, 143, 70, 0.18);
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center{
    width: 90vw;
}

.nav-header{
    height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header img{
    width: 90px;
    margin-top: 40px;
}

.nav-btn{
    padding: 4px 0px;
    color: #F2984C;
    background-color: #fff;
    border: none;
}

.nav-btn i {
    font-size: 20px;
    padding: 4px 10px;
    margin-top: 20px
}

.nav-links{
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.show-links {
    height: auto;
    margin: 0 auto;
}

.nav-link{
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    letter-spacing: 1px;
    padding: 20px 0;
    border-top: 1px solid grey;
    /* transiton: var(--transition); */

}
.contact-link{
    text-align: center;
    padding: 20px;
}

.contact-link a{
    padding: 10px 20px;
}
@media screen and (min-width: 992px) {
    .navbar {
        height: 80px;
      }
      .nav-center {
        display: flex;
        align-items: center;
      }
      .nav-header {
        padding: 0;
        margin-right: 2rem;
        height: auto;
      }
    
      .nav-btn {
        display: none;
      }
      .nav-links {
        height: auto !important;
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
      .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 16px;
      }
      .contact-link {
        margin-right: 0;
        margin-left: auto;
      }
    
}

.section{
    margin-top: 1%;
}

.hero{
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 0;
    height: 100%;
    overflow: hidden;
}
.hero .left{
    /* margin-right: 20px; */
    padding-left: 50px;
}

.hero .left h1{
    font-style: normal;
    font-size: 28px;
    font-weight: 900;
    line-height: 40px;
    padding-top: 24px;
}
span{
    color: #00AEEF;
    font-weight: 900;
}

p{
    font-size: 14px;
    line-height: 18px;
    color: #505050;
    margin-top: 10px;
}

.hero .left .input {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px auto;
}

.merg span{
    margin-left: -35px;
    font-size: 26px;
    color: #6F6F6F;
    top: 200px;
}

.merg input{
    width: 50%;
}

.hero .left .input input{
    padding: 10px;
    margin-top: 15px;
    width: 70%;
    font-size: 14px;
    background-color: #F3F3F3;
    border: none;
}

.btn-link{
    text-align: center;
    margin-top: 20px;
}

.btn-link .btn{
    padding: 12px 100px;
    margin-top: 10px;
}

.hero .right{
    /* width: 800px; */
    position: relative;
}

.right .back-img{
    /* width: 500px; */
    float: right;
    /* height: 450px; */
}

.right .back-img img{
    width: 100%;
    height: 100%;
}

.right .image{
    position: absolute;
    top: 0px;
    /* width: 95%; */
    margin-left: 10px;
    /* height: 90%; */
    float: left;
}

.right .image img{
    width: 100%;
    /* height: 100%;g */
    border-radius: 25px;
}

@media screen and (max-width: 768px){
    .hero{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .hero .left{
        width: 100%;
        margin-bottom: 40px;
    }
    .hero .right{
        width: 100%;
    }
}

.section-title{
    position: relative;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    margin-top: 60px;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 0rem;
    background-color: #F2984C;
}

section{
    min-height: 100vh;
    background: rgba(0, 174, 239, 0.02);  
    padding: 20px;
}

.container{
    align-items: center;
}

.container .boxes{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-row-gap: 50px;
    margin: auto ;
    align-items: center;
}

.content {
    width: 250px;
    height: 250px;
    background: #FFFFFF;    
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.content:hover{
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.07);
}
.content .box{
    padding: 30px;
}

.content .box h1{
    font-size: 16px;
    color: #363F40;
}

.content .box img{
    width: 40px;
    height: 40px;
}

.content .box p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6F6F6F;
}

@media screen and (max-width: 768px){
    .div{
        display: flex;
        flex-direction: column;
    }
    .div .left-side{

        margin-bottom: 20px;
    }
    .container .boxes{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-row-gap: 0px;
    }
    .content{
        margin: 20px auto;
    }
}

.section .section-title{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}

.section .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin-left: 0;
    top: 0.5rem;
    text-align: left;
    background-color: #F2984C;
}

.div{
    width: 100%;
    display: flex;
    margin-bottom: 70px;
}

.div .left-side{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.left-side p{
    font-size: 14px;
}

.arrow{
    display: flex;
    margin-top: 50px;
    cursor: pointer;
}

.material-icons{
    width: 90px;
    font-size: 50px;
    font-weight: light;
}

.right-side{
    height: auto;
    width: 900px;
    display: block;
    overflow-x: scroll;
    place-items: center;
    white-space: nowrap;
    -ms-overflow-style: none;

}
.right-side::-webkit-scrollbar{
    display: none;
}

.right-side .card-container {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.right-side .card-container .card {
    width: 250px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    margin-right: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card:hover{
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.07);
}
  
.right-side .card-container .card img {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0px 0px;
}
  
.right-side .card-container .card .content1 {
    height: 30%;
    width: 100%;
    margin-left: 15px;
}
  
.right-side .card-container .card .content1 h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #5C5C5C;
}
  
.right-side .card-container .card .content1 p {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
    color: #5C5C5C;;
}

.companies{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

.companies h1{
    font-weight: 900;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #5C5C5C;
}
.that{
    display: flex;
    justify-content: center;
    align-items: center;
}

.that .mg1{
    width: 200px;
    margin-top: 50px;
    margin-right: 40px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .companies{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .that{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .that .mg1{
        width: 200px;
        margin-top: 30px;
        margin-right: 0px;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .main .fits{
        width: 100%;
        margin-bottom: 40px;
    }
    .main .box1{
        width: 100%;
    }
    .start .boxes1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 40px;
    }
}

.start{
    padding: 14px 5%;
    padding-top: 20px;
}

.main{
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 0;
}


.boxes1{
    display: grid;
    grid-template-columns: repeat(2, 2fr);  
    grid-gap: 50px;
    margin-top: 20px;
}

.content2 {
    width: 250px;
    height: 250px;
    background: #FFFFFF; 

    /* margin: 10px 30px; */
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.content2:hover{
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.07);
}
.content2 .box1{
    padding: 30px;
}

.content2 .box1 h1{
    font-size: 16px;
    color: #363F40;
}

.content2 .box1 img{
    width: 40px;
    height: 40px;
}

.content2 .box1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6F6F6F;
}
.join{ 
    position: relative;
    background-image: url(/images/Ellipse\ 44.png);
    background-repeat: no-repeat;
    margin-left: 5px;
}
.join .health{
    /* width: 100%; */
    margin-left: 20px;
    /* height: 100%; */
}
.join .health img{
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 100%;
}

.hear .section-title{
    position: relative;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
}

.hear .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 0rem;
    background-color: #F2984C;
}
.hear{
    background: rgba(247, 179, 67, 0.05);
    width: 100%;
}

.hear p{
    text-align: center;
    margin-bottom: 50px;
}

.hear .that .mg1{
    margin-right: 0px;
}

.para{
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 1px 30px;
    /* padding: 4px 10px; */
}

.para h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6F6F6F;
    padding-top: 40px;
}

.para p{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #6F6F6F;
    /* padding: 0px 20px 20px; */
}

.about{
    width: 100%;
    margin-bottom: 60px;
    display: flex;
}

.about-left{
    margin-left: 100px;
    padding: 5px;
}
.about-left p{
    margin-top: 20px;
    font-weight: 500;
    width: 550px;
    text-align: justify;
}

.about-right{
    display: grid;
    grid-template-columns: repeat(2, 2fr);  
    grid-gap: 40px;
    grid-row-gap: 10px;
    margin: 50px auto;
    margin-top: 120px;
}

.right-box{
    width: 200px;
    height: 180px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 16px 0;
}
.right-box:hover{
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.07);
}
.right-box .right-card{
    text-align: center;
    margin: 10px;
}

.right-box .right-card h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #363F40;
    padding-top: 40px;
}

@media screen and (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-left{
        margin: 10px;
        padding: 5px;
    }
    .about-right{
        margin: 0 auto;

    }
    .right-box{
        width: 140px;
        height: 120px;
    }
    .right-box .right-card h1{
        font-size: 24px;
        line-height: 30px;
        padding-top: 16px;
    }
    .about-left p{
        width: 100%;
    }
    .right-box{
        margin-top: 50px;
    }
    .footer .box-container{
        margin: 0px 60px;
        padding: 40px 0;
    }
}

.footer{
    background: #F3FCFF;    
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 60px;
    padding: 40px 0;
}

.footer .box-container .box .socail a{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 22px;
    color: #23A6F0;
}

.footer .box-container .box{
    flex: 1 1 15rem;
    margin: 20px 20px 20px 25px;
}

.footer .box-container .box h3{
    font-size: 16px;
    color: #252B42;
    padding: 10px 0;
}

.footer .box-container .box p{
    font-size: 14px;
    color: #5C5C5C;
    padding: 5px 0;
}

.footer .box-container .box a{
    font-size: 14px;
    color: #5C5C5C;
    padding: 5px 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}

.frequent{
    width: 100%;
    padding: 14px 5%;
    padding-top: 50px;
    text-align: center;
}

.frequent p{
    text-align: center;
    font-size: 14px;
}

.frequent form input[type="text"]{
    padding: 8px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #F3F3F3;
    border: none;
    width: 350px;
    margin-top: 50px;
}

input[type="submit"]{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #F2984C;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -10px;
    box-shadow: 0px 3px 21px 5px rgba(243, 143, 70, 0.18);
    border-radius: 8.78788px;
}

@media screen and (max-width: 768px){
    .frequent form input[type="text"]{
        padding: 8px;
        margin-top: 15px;
        font-size: 16px;
        background-color: #F3F3F3;
        border: none;
        width: 200px;
        margin-top: 50px;
    }
    
    input[type="submit"]{
        width: 80px;
        height: 43px;
        border: none;
        background-color: #F2984C;
        outline: none;
        cursor: pointer;
        color: #fff;
        margin-left: -8px;
        box-shadow: 0px 3px 21px 5px rgba(243, 143, 70, 0.18);
        border-radius: 8.78788px;
    }
}

.general{
    width: 60%;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.general a{
    margin-top: 20px;
    font-size: 16px;
}

.general .section-title{
    font-weight: 700;
    color: #6F6F6F;
}

.general .section-title::after{
    top: 2.2rem;
    width: 75px;
}

.general .passive{
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #F38F46;
    padding-top: 15px;
}

.frequent .paragraph{
    width: 90%;
    margin: 0 auto;
}

.paragraph .paragraph-box{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
}

.paragraph-box:hover{
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.07);
}
.paragraph .paragraph-box h1{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 36px;
    color: #363F40;
    padding-left: 10px;
}

.paragraph .paragraph-box p{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    color: #505050;
}






/* Page Two */
.back-btn{
    text-align: center;
    padding: 20px;
}
.back-btn a{
    color: #00AEEF;
    font-size: 14px;
}

/* PageThree */
/* .left .input h1{
    font-size: 14px;
    margin-bottom: -10px;
} */

